<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="!loading">
  <div class="bg-white dark:bg-[#333333] text-lightText dark:text-darkText rounded-lg shadow-lg p-8 max-w-md w-full mx-4">
    <div class="text-center text-lightText dark:text-darkText">
      <h2 id="verify-your-email" class="text-3xl font-bold text-teal-500 tracking-tight mb-4">Verify Your Email</h2>
      <p>We've sent a 6-digit verification code to {{email}}. Please enter the code below to verify your email and continue.</p>
    </div>

    <form [formGroup]="verifyForm" (ngSubmit)="verifyEmail()" class="mt-6">
      <div class="flex items-center justify-center gap-2">
        <input type="text" formControlName="digit1" (input)="onDigitInput($event, digit2)" #digit1 maxlength="1" class="w-12 h-12 text-center border rounded">
        <input type="text" formControlName="digit2" (input)="onDigitInput($event, digit3)" #digit2 maxlength="1" class="w-12 h-12 text-center border rounded">
        <input type="text" formControlName="digit3" (input)="onDigitInput($event, digit4)" #digit3 maxlength="1" class="w-12 h-12 text-center border rounded">
        <input type="text" formControlName="digit4" (input)="onDigitInput($event, digit5)" #digit4 maxlength="1" class="w-12 h-12 text-center border rounded">
        <input type="text" formControlName="digit5" (input)="onDigitInput($event, digit6)" #digit5 maxlength="1" class="w-12 h-12 text-center border rounded">
        <input type="text" formControlName="digit6" #digit6 maxlength="1" class="w-12 h-12 text-center border rounded">
      </div>
      <button type="submit" class="mt-6 w-full bg-teal-500 text-white py-2 rounded hover:bg-teal-600">Verify</button>
    </form>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<app-message *ngIf="message" [message]="message" [type]="messageType" (close)="closeMessage()"></app-message>
