<div class="flex flex-col min-h-screen">
  <app-header></app-header>

  <app-carousel></app-carousel>
  <div class="flex-grow bg-lightBackground dark:bg-darkBackground text-lightText dark:text-darkText">
    <div class="flex justify-center flex-col md:flex-row gap-16 w-full px-4 py-8 sm:px-6 lg:px-32 ">
      <!-- Find ur next text -->
      <div class="mb-8" data-aos="fade-up">
        <h1 class="text-3xl font-bold mb-2">Find your next trip</h1>
        <p class="text-gray-600 dark:text-gray-300">Search for autocar routes to your destination.</p>
      </div>

      <!-- Route picker card -->
      <div class="bg-white dark:bg-transparent rounded-lg shadow-sm w-full md:w-1/2 " data-aos="fade-up">
        <form class="p-6 grid grid-cols-1 ">
          <div class="flex flex-col gap-4 items-center justify-center w-full">
            <div class="grid grid-cols-1 w-full">

              <div class="relative z-50">
                <label class="text-sm font-medium mb-1 block" for="arrivalCity">
                  Travel Date
                </label>
                <button
                  (click)="openDatePicker()"
                  class="w-full px-3 py-2 text-left border border-gray-300 dark:border-gray-600 rounded-md focus:ring-cyan-500 focus:border-cyan-500 bg-white dark:bg-gray-700 text-gray-700 dark:text-gray-200 flex items-center justify-between"
                >
                  <span>{{ travelDate | date:'mediumDate' }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                </button>

                <!-- Custom Date Picker -->
                <div *ngIf="showDatePicker" class="absolute z-30 mt-1 w-64 bg-white dark:bg-gray-800 shadow-lg rounded-md border border-gray-200 dark:border-gray-700">
                  <div class="p-2">
                    <div class="flex justify-between items-center mb-2">
                      <button (click)="prevMonth()" class="text-cyan-600 hover:text-cyan-700">&lt;</button>
                      <span>{{ currentMonth | date:'MMMM yyyy' }}</span>
                      <button (click)="nextMonth()" class="text-cyan-600 hover:text-cyan-700">&gt;</button>
                    </div>
                    <div class="grid grid-cols-7 gap-1 text-center">
                      <div *ngFor="let day of daysOfWeek" class="text-gray-500 text-xs font-medium">
                        {{ day }}
                      </div>
                      <ng-container *ngFor="let day of calendarDays">
                        <div
                          *ngIf="day !== 0"
                          (click)="selectDate(day)"
                          [ngClass]="{
                'bg-cyan-100 dark:bg-cyan-800': isSelectedDate(day),
                'text-gray-300 dark:text-gray-600': !isCurrentMonth(day),
                'hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer': isCurrentMonth(day)
              }"
                          class="p-1 text-sm rounded-full"
                        >
                          {{ day }}
                        </div>
                        <div *ngIf="day === 0"></div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-row gap-4 w-full">
              <!-- Departure Location -->
              <div class="w-full">
                <label class="text-sm font-medium mb-1 block" for="departureCity">
                  Departure
                </label>
                <select id="departureCity" [(ngModel)]="departureCity" name="departureCity" class="pr-2 flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
                  <option value="">Select Departure City</option>
                  <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option>
                </select>
              </div>
              <!-- Destination Location -->
              <div class="w-full">
                <label class="text-sm font-medium mb-1 block" for="arrivalCity">
                  Destination
                </label>
                <select id="arrivalCity" [(ngModel)]="arrivalCity" name="arrivalCity" class="pr-2 flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
                  <option value="">Select Arrival City</option>
                  <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option>
                </select>
              </div>
            </div>

          </div>

          <!-- Travel Date and Return Date -->



          <!-- Search Button -->
          <div class="w-full mt-4 flex justify-end sm:col-span-3" data-aos="fade-left">
            <button
              (click)="searchRoutes()"
              class="inline-flex items-center justify-center rounded-md bg-cyan-600 px-4 py-2 text-sm font-medium text-white shadow transition-colors hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 disabled:opacity-50 dark:focus:ring-offset-gray-900"
              type="submit"
            >
              Search
            </button>
          </div>
        </form>
      </div>



      <!-- Rest of the content remains unchanged -->


    </div>
    <!-- Schedules list -->
    <div *ngIf="searchPerformed && !isLoading" class="relative z-0 mt-8 w-full px-6 md:px-32 justify-content grid grid-cols-1 md:grid-cols-2 gap-6">
      <div *ngFor="let schedule of schedules" class="rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-sm" data-aos="fade-up">
        <div class="p-6 grid grid-cols-2 gap-4">
          <div>
            <p class="text-lg font-semibold">{{ formatTime(schedule.departureTime) }}</p>
            <p class="text-sm text-gray-600 dark:text-gray-400">Departure</p>
            <p class="flex items-start justify-start gap-2 text-xl md:text-2xl  font-bold"><span class="text-sm text-cyan-500">From: </span>{{ schedule.route.departureCity }}</p>
          </div>
          <div>
            <p class="text-lg font-semibold">{{ formatTime(schedule.arrivalTime) }}</p>
            <p class="text-sm text-gray-600 dark:text-gray-400">Arrival</p>
            <p class="flex items-start justify-start gap-2 text-xl md:text-2xl font-bold"><span class="text-sm text-cyan-500">To: </span> {{ schedule.route.arrivalCity }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-600 dark:text-gray-400">Duration</p>
            <p class="text-sm">{{ formatDuration(schedule.duration) }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-600 dark:text-gray-400">Price</p>
            <p class="text-sm">{{schedule.schedulePrice}} MAD</p>
          </div>
          <div class="flex justify-end col-span-2">
            <button
              [disabled]="!isScheduleAvailable(schedule)"
              (click)="bookSchedule(schedule)"
              class="w-32 bg-cyan-600 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300"
              [ngClass]="{'opacity-50 cursor-not-allowed': !isScheduleAvailable(schedule)}">
              {{ isScheduleAvailable(schedule) ? 'Book Now' : 'Unavailable' }}
            </button>
          </div>
        </div>
      </div>
      <!-- Loading indicator -->
      <div *ngIf="isLoading" class="fixed top-0 left-0 w-full h-screen flex items-center justify-center bg-gray-200 bg-opacity-20 backdrop-blur-lg z-50">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>

      <!-- Error message -->
      <app-message [message]="message" [type]="messageType"></app-message>


      <!-- No routes found message -->
      <div *ngIf="searchPerformed && noRoutesFound" data-aos="fade-left" class="mt-8 text-center">
        <p>No routes found for the selected cities and date.</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>



<div *ngIf="loading" class="fixed top-0 left-0 w-full h-screen flex items-center justify-center bg-gray-200 bg-opacity-20 backdrop-blur-lg z-50">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>
