<div class="flex flex-col min-h-screen">
  <app-message [message]="message" [type]="messageType" (close)="closeMessage()"></app-message>


  <app-header></app-header>


  <div class="flex flex-col md:flex-row flex-grow text-lightText dark:text-darkText bg-lightBackground dark:bg-darkBackground">
    <!-- Sidebar -->
    <div class="w-full  md:w-1/4 bg-lightBgColor dark:bg-darkBgColor border-r border-gray-500 p-4 transition-all duration-200 ">
      <nav>
        <ul class="w-full flex flex-row md:flex-col items-center justify-around md:items-start md:justify-start ">
          <li *ngFor="let tab of tabs"
              (click)="setActiveTab(tab)"
              data-aos="fade-right"
              class="mb-2 p-2 cursor-pointer rounded flex items-center hover:text-cyan-500 duration-200 "
              [ngClass]="{'bg-lightAccent dark:bg-darkAccent': activeTab === tab}">
            <i class="material-icons mr-2 md:mr-4 text-3xl md:text-2xl ">{{getTabIcon(tab)}}</i>
            <span class="hidden md:inline">{{ tab | titlecase }}</span>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Main Content -->
    <div class="flex-grow p-4 md:p-8" data-aos="fade-left">
      <div *ngIf="activeTab === 'routes'">
        <h2 class="text-xl font-bold mb-4">Manage Routes</h2>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
          <select [(ngModel)]="newRoute.departureCity" class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
            <option value="">Select Departure City</option>
            <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option>
          </select>
          <select [(ngModel)]="newRoute.arrivalCity" class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
            <option value="">Select Arrival City</option>
            <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option>
          </select>
          <div class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
            Distance: {{ newRoute.departureCity && newRoute.arrivalCity ? (cityDistances[newRoute.departureCity][newRoute.arrivalCity] | number:'1.0-0') + ' km' : 'N/A' }}
          </div>
          <button (click)="addRoute()" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">Add Route</button>
        </div>


        <div class="overflow-x-auto">
          <table class="w-full caption-bottom text-sm rounded-lg overflow-hidden">
            <thead class="bg-gray-50 dark:bg-gray-800">
            <tr class="transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
              <th class=" h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Route ID</th>
              <th class=" h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Departure City</th>
              <th class=" h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Arrival City</th>
              <th class=" h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Distance (km)</th>
              <th class=" h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let route of routes; let last = last" class="transition-colors hover:bg-gray-100 dark:hover:bg-gray-600" [ngClass]="{'border-b': !last}">
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">R-{{ route.routeID }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ route.departureCity }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ route.arrivalCity }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ route.distance | number:'1.0-0' }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 w-full flex flex-row gap-2 items-center justify-center">
                <button (click)="openRouteEditForm(route)" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors disabled:opacity-50 duration-300">Edit</button>
                <button (click)="deleteRoute(route.routeID)" class="inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText shadow-sm transition-colors hover:text-cyan-500 dark:hover:text-cyan-500 disabled:opacity-50 duration-300">Delete</button>
              </td>
            </tr>
            <!--
            <ng-template #noRoutes>
              <tr class="border-b transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
                <td colspan="6" class="p-6 text-center text-muted-foreground">
                  There are no available routes at the moment.
                </td>
              </tr>
            </ng-template>
            -->
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="activeTab === 'schedules'">
        <h2 class="text-xl font-bold mb-4">Manage Schedules</h2>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
          <select [(ngModel)]="newSchedule.route" class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
            <option *ngFor="let route of routes" [ngValue]="route">{{ route.departureCity }} - {{ route.arrivalCity }}</option>
          </select>

          <input type="datetime-local" [(ngModel)]="newSchedule.departureTime" name="departureTime" required
                 class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">



          <input type="number" [(ngModel)]="newSchedule.availableSeats" name="availableSeats" placeholder="Available Seats" max="60" min="0" required
                 class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-400 focus:border-cyan-400 disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">


          <button (click)="addSchedule()" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">Add Schedule</button>
        </div>

        <div class="overflow-x-auto">
          <table class="w-full caption-bottom text-sm rounded-lg overflow-hidden">
            <thead class=" bg-gray-50 dark:bg-gray-800">
            <tr class="w-full  transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Schedule ID</th>
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Route</th>
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Departure Time</th>
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Arrival Time</th>
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Available Seats</th>
              <th class="w-1/4 h-10 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0">Actions</th>
            </tr>
            </thead>
            <tbody class="[&_tr:last-child]:border-0">
            <tr *ngFor="let schedule of schedules" class="transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ schedule.scheduleID}}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 flex items-center justify-center gap-8">{{ schedule.route.departureCity }} <i class='bx bx-sort rotate-90 text-xl text-cyan-500' ></i> {{ schedule.route.arrivalCity }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ schedule.departureTime | date:'medium' }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ schedule.arrivalTime | date:'medium' }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ schedule.availableSeats}}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 w-full flex flex-row gap-2 items-center justify-center">
                <button (click)="openScheduleEditForm(schedule)" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">Edit</button>
                <button (click)="deleteSchedule(schedule.scheduleID)" class="inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText shadow-sm transition-colors hover:text-cyan-500 dark:hover:text-cyan-500  disabled:opacity-50 duration-300">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Reservations Tab -->
      <div *ngIf="activeTab === 'reservations'">
        <h2 class="text-xl font-bold mb-4">Manage Reservations</h2>

        <!-- Reservations Table -->
        <div class="overflow-x-auto">
          <table class="w-full caption-bottom text-sm rounded-lg overflow-hidden">
            <thead class="bg-gray-50 dark:bg-gray-800">
            <tr class="w-full h-10 transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
              <th class="px-4 py-2">Reservation ID</th>
              <th class="px-4 py-2">User ID</th>
              <th class="px-4 py-2">User</th>
              <th class="px-4 py-2">Route</th>
              <th class="px-4 py-2">Reservation Date</th>
              <th class="px-4 py-2">Status</th>
              <th class="px-4 py-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations" class="transition-colors hover:bg-gray-100 dark:hover:bg-gray-600">
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ reservation.reservationID }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ reservation.user.userID }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ reservation.user.username }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 flex items-center justify-center gap-8">{{ reservation.route.departureCity }} <i class='bx bx-sort rotate-90 text-xl text-cyan-500' ></i> {{ reservation.route.arrivalCity }}</td>
              <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">{{ reservation.reservationDate | date:'mediumDate' }}</td>
              <td class="align-middle flex justify-center items-center [&:has([role=checkbox])]:pr-0">
                <span class="inline-flex items-center justify-center rounded-md px-2 py-1 font-medium text-white shadow transition-colors  disabled:opacity-50 duration-300" [ngClass]="{
                  'bg-green-600 dark:bg-green-700 !text-white': reservation.status === 'CONFIRMED',
                  'bg-yellow-600 dark:bg-yellow-700 !text-white': reservation.status === 'PENDING',
                  'bg-red-600 dark:bg-red-700 !text-white': reservation.status === 'CANCELLED'
                }">
                  <ng-container class="mr-1" *ngIf="reservation.status === 'CONFIRMED'">
                    <i class='bx bx-check'></i>
                  </ng-container>
                  <ng-container class="mr-1" *ngIf="reservation.status === 'PENDING'">
                    <i class='bx bx-time-five'></i>
                  </ng-container>
                  <ng-container class="mr-1" *ngIf="reservation.status === 'CANCELLED'">
                    <i class='bx bx-x'></i>
                  </ng-container>
                  <span class="ml-1">
                    {{ reservation.status }}
                  </span>
                </span>
              </td>


              <td class=" px-4 py-2">
                <div class="flex flex-row gap-2 items-center justify-center">
                  <ng-container [ngSwitch]="reservation.status">
                    <button *ngSwitchCase="'PENDING'"
                            (click)="updateReservationStatus(reservation, 'CONFIRMED')"
                            class="bg-green-600 hover:bg-green-700 inline-flex items-center justify-center rounded-md px-4 py-1 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">
                      Confirm
                    </button>
                    <button *ngSwitchCase="'CONFIRMED'"
                            (click)="updateReservationStatus(reservation, 'CANCELLED')"
                            class="inline-flex items-center justify-center rounded-md bg-transparent px-4 py-1 text-sm font-medium text-lightText dark:text-darkText shadow-sm transition-colors hover:text-red-500 dark:hover:text-red-600  disabled:opacity-50 duration-300">
                      Cancel
                    </button>
                    <span class="text-gray-500" *ngSwitchCase="'CANCELLED'">Cancelled</span>
                  </ng-container>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="activeTab === 'statistics'">
        <h2 class="text-xl font-bold mb-4">Statistics</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="w-full">
            <h3 class="text-lg font-semibold mb-2">Users and Passengers</h3>
            <canvas id="userChart"></canvas>
          </div>
          <div class="w-full">
            <h3 class="text-lg font-semibold mb-2">Reservations per Month</h3>
            <canvas id="reservationChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- ... (keep existing content) -->

<!-- Route Edit Modal -->
<div  *ngIf="isEditingRoute" class="fixed inset-0 z-50 overflow-auto bg-white dark:bg-darkBackground bg-opacity-50 dark:bg-opacity-50 backdrop-blur-sm flex items-center justify-center">
  <div data-aos="fade-down" data-aos-duration="400" class="relative bg-white dark:bg-gray-800 w-11/12 md:w-3/4 lg:w-1/2 xl:w-2/5 rounded-lg shadow-lg p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100 mb-4">Edit Route</h3>
    <div class="mb-4">
      <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="departureCity">
        Departure City
      </label>
      <select [(ngModel)]="editingRoute!.departureCity" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let location of locations" [value]="location.name">{{location.name}}</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="arrivalCity">
        Arrival City
      </label>
      <select [(ngModel)]="editingRoute!.arrivalCity" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let location of locations" [value]="location.name">{{location.name}}</option>
      </select>
    </div>
    <div class="flex items-center justify-end gap-2">
      <button (click)="updateRoute()" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">
        Save
      </button>
      <button (click)="closeRouteEditForm()" class="inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText shadow-sm transition-colors hover:text-cyan-500 dark:hover:text-cyan-500  disabled:opacity-50 duration-300">
        Cancel
      </button>
    </div>
  </div>
</div>

<!-- Schedule Edit Modal -->
<div  *ngIf="isEditingSchedule" class="fixed inset-0 z-50 overflow-auto bg-white dark:bg-darkBackground bg-opacity-50 dark:bg-opacity-50 backdrop-blur-sm flex items-center justify-center">
  <div data-aos="fade-down" data-aos-duration="400" class="relative bg-white dark:bg-gray-800 w-11/12 md:w-3/4 lg:w-1/2 xl:w-2/5 rounded-lg shadow-lg p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100 mb-4">Edit Schedule</h3>
    <div class="mb-4">
      <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="route">
        Route
      </label>
      <select [(ngModel)]="editingSchedule!.route.routeID" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let route of routes" [value]="route.routeID">{{route.departureCity}} - {{route.arrivalCity}}</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="departureTime">
        Departure Time
      </label>
      <input [(ngModel)]="editingSchedule!.departureTime" type="datetime-local" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="arrivalTime">
        Available Seats
      </label>
      <input [(ngModel)]="editingSchedule!.availableSeats" type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="flex items-center justify-end gap-2">
      <button (click)="updateSchedule()" class="bg-cyan-600 hover:bg-cyan-700 inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium text-white dark:text-darkText shadow transition-colors  disabled:opacity-50 duration-300">
        Save
      </button>
      <button (click)="closeScheduleEditForm()" class="inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText shadow-sm transition-colors hover:text-cyan-500 dark:hover:text-cyan-500  disabled:opacity-50 duration-300">
        Cancel
      </button>
    </div>
  </div>
</div>



<div *ngIf="loading" class="fixed top-0 left-0 w-full h-screen flex items-center justify-center bg-gray-200 bg-opacity-20 backdrop-blur-lg z-50">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>
