<div class="landing-animation">
  <svg viewBox="0 0 800 150" xmlns="http://www.w3.org/2000/svg">
    <path id="text-path" d="M0,50 h800" fill="none" />
    <text class="main-text">
      <textPath href="#text-path" startOffset="50%" text-anchor="middle">
        UrbanVoyage
      </textPath>
    </text>
    <path id="subtext-path" d="M0,100 h800" fill="none" />
    <text class="sub-text">
      <textPath href="#subtext-path" startOffset="50%" text-anchor="middle">
        Explore Morocco
      </textPath>
    </text>
  </svg>
</div>
