<div class="flex flex-col min-h-screen">
  <app-header></app-header>




  <app-message [message]="message" [type]="messageType"></app-message>
  <div *ngIf="loading" class="fixed top-0 left-0 w-full h-screen flex items-center justify-center bg-gray-200 bg-opacity-20 backdrop-blur-lg z-50">
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  </div>


  <!-- Login Page -->
  <div class="flex-grow flex items-center justify-center mx-auto space-y-6 p-4 text-lightText dark:text-darkText w-full bg-lightBackground dark:bg-darkBackground">
    <div class="w-full mt-0 md-mt-16 md:max-w-xl px-6 py-6 rounded-lg shadow-sm  bg-white dark:bg-[#333333]">
      <div class="space-y-2 text-center">
        <h1 class="text-3xl font-bold text-cyan-500">Login</h1>
        <p class="text-muted-foreground">Welcome back! Please login to your account.</p>
      </div>
      <div class="space-y-4 mt-6">
        <div class="space-y-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="email">
            Email
          </label>
          <input id="email" type="email" [(ngModel)]="email" name="email" required
                 class="input flex h-10 w-full duration-200 rounded-md border   px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText"
                 placeholder="Enter your email">
        </div>
        <div class="space-y-2 relative">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="password">
            Password
          </label>
          <input
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'"
            class="input flex h-10 w-full duration-200 rounded-md border px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText"
            id="password"
            required
            placeholder="Enter your password"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 px-3 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 focus:outline-none"
            (click)="togglePasswordVisibility()"
            style="top: 50%; transform: translateY(-50%);"
          >
            <i class="text-xl text-gray-500 bx" [class.bx-show]="showPassword" [class.bx-hide]="!showPassword"></i>
          </button>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-2">
            <input type="checkbox" id="remember" class="rounded border-gray-300 text-cyan-500 shadow-sm focus:border-cyan-300 focus:ring focus:ring-cyan-200 focus:ring-opacity-50" />
            <label for="remember" class="text-sm text-gray-600 dark:text-gray-400">Remember me</label>
          </div>
          <button (click)="forgotPassword()" class="text-sm text-cyan-500 hover:underline">Forgot password?</button>
        </div>
        <button
          (click)="login()"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-cyan-500 text-white hover:bg-cyan-600 h-10 px-4 py-2 w-full"
        >
          Login
        </button>
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <span class="w-full border-t border-gray-300 dark:border-gray-600"></span>
          </div>
          <div class="relative flex justify-center text-xs uppercase">
            <span class="bg-white dark:bg-[#333333] px-2 text-muted-foreground">Or continue with</span>
          </div>
        </div>
        <div class="flex justify-center gap-4">
          <!--
          <button
            (click)="loginWithFacebook()"
            class="oauth-button whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 border border-input hover:bg-[#1877f2] hover:border-[#1877f2] hover:text-white h-10 px-4 py-2 flex items-center justify-center gap-2 group"
          >
            <i class='bx bxl-facebook text-xl'></i>
            Facebook
          </button>
          -->
          <button
            (click)="loginWithGoogle()"
            class="w-full oauth-button whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 border border-input hover:bg-[#db4437] hover:border-[#db4437] hover:text-white h-10 px-4 py-2 flex items-center justify-center gap-2 group"
          >
            <i class='bx bxl-google text-xl'></i>
            Google
          </button>


        </div>

        <p class="text-center text-sm text-muted-foreground">
          Don't have an account? <a href="/register" class="text-cyan-500 hover:underline">Sign up</a>
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
